
@media (max-width: 575.98px) {
    
   .probile_tbl{
    display: none;
}
.probile_tbl_mb{
    display: block !important;
}
   header.navbar{
        padding: 10px 0px;
    }
   .logo img {
    position: relative;
    top: 92px;
    }
    #site_header {
        background-color: rgb(241, 241, 241);
        padding: 20px 0px;
        position: relative;
     }
    /*nav_menu*/
     #nav_menu ul li {
        position: relative;
        margin: 3px 20px 8px 3px;
        display: block !important;
    }
    .drop_menu {
       top:-1%;
        width: 300px;
        
    }
    
    .bar_icon {
        background-color: #6d0000 !important;
        display: block;
    }
  
    .before_bg::before{
        position: absolute;
        content: '';
        left: 0px;
        top: 0px;
        }
    .search_icon {
         position: absolute;
         top: -52px;
         right: 8px;
    }
    .navbar_header{
         display:none;
    }
    .nav-mobile-header{
         display:block !important;
    }
    .search-input input.form-control {
       
        top: 2% !important;
        width: 76% !important;
    }
       
    .simple-marquee-container .marquee-sibling {
          
            width: 28% !important;
            font-size: 13px !important;
            
    }
    .marquee-sibling h4 {
           
    padding: 0px 12px !important;
           
    }
    .scroll_top span i {
           
    right: 29px;
    bottom: 120px;
           
    }
    /*nav tabs*/
    .nt .nav-tabs .nav-link {
        padding: 10px 33px !important;
    }
        
    /*nav menu end*/
    #team_member {
        padding: 10px 0px !important;
    }
    button.navbar-toggler {
        width: 46px !important;
    }
    .social_media {
        position: relative !important;
        top: -106px !important;
        left: 10px;
    }
    .address span {
        position: relative !important;
        top: -27px !important;
        font-size: 12px !important;
        right: 1px;
    }
    /*triangle*/
    .pocket_news .all-video::after {
      bottom:0px;
        left: -22%;
        
    }
    .cat_name a {
       
        font-size: 18px !important;
    }
    span.news {
        position: relative;
        bottom: 14px;
    }
    #desh {
        padding: 20px 0px !important;
      
    }
    .media-body h4 {
        font-size: 13px !important;
        
    }
    .cat_subname a {
       
        font-size: 15px !important;
    }
    .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
       
         padding: 16px;
    }
    .navbar-light .navbar-toggler {
        color: rgb(255, 255, 255);
        border-color: rgb(255, 255, 255);
    }
    .detail_box h4 {
     
        font-size: 16px;
        
    }
    .detail_box p {
       
        font-size: 13px;
    }
    .heading-national.text-left {
        margin-top: 10px;
    }
    h4.tab-list a{
        font-size: 14px !important;
    }
    .media-left span{
        font-size: 12px;
    }
   .three .nav-tabs .nav-link {
        padding: 10px 17px !important;
    }
    div#home-pocket {
        color: #fff;
        padding: 20px 0px;
        height: 214px;
    }
    .foot_logo {
        width: 250px;
        position: relative;
        left: 42px;
    }
    .android span {
        position: relative;
        right: 60px;
    }
    .news-about p {
        font-size: 14px;
        padding: 0px 10px;
        text-align: center;
    }
    .ad-part {
        position: relative;
        right: 35px;
    }
    .pocket_news {
       
        height: 750px;
    }
    .marquee-content-items li a {
        color: #ffff;
        font-size: 13px !important;
    }
    h4.left {
        position: relative;
        top: 0px;
        font-size: 14px;
    }
    .item_cont span {
        font-size: 12px;
    }
    .marquee-sibling h4 {
        font-size: 10px !important;
    }
    span a img {
        position: relative;
        right: 36px;
    }
    .catTitle6 .liner::before {
       
        width: 73% !important;
       
    }
    .catTitle6 .liner::after {
      
        width: 73% !important;
       
    }
    .catTitle2 .liner::before {
       
        width: 65% !important;
       
    }
    .catTitle2 .liner::after {
        width: 65% !important;;
    }
    ul.navbar-nav.mr-auto {
        padding: 17px 0px !important;
    }
    .con-nav{
        padding: 0px !important;
    }
    ul.navbar-nav.mr-auto {
        padding: 0px 0px !important;
        background: #fff;
    }
    button.navbar-toggler {
        position: relative;
        left: 21px;
    }
    .search-bar input.form-control {
        display: block;
    } 
    .foot_logo img {
        position: relative;
        left: 62px;
    }
    .android {
        
        right: 61px;
    }
    .button a {
       
        padding: 6px;
        font-size: 12px;
        
    }
    /*archive mobile*/
    div#btnGroupAddon {
        margin-bottom: 19px;
    } 
    select#exampleFormControlSelect1 {
        margin-bottom: 6px;
    }
    button.btn.btn-primary.btn-block {
        margin-bottom: 10px;
    }
  
.bottom-address {
    text-align: center;
    margin-bottom: 10px;
}
.button {
    
    text-align: center;
}
    }
@media (min-width: 576px) and (max-width: 767.98px) {
 .site_logo img{
        width: 250px !important; 
        position: relative;
        left:45px;
        top: 90px;
    }
    #nav_menu ul li {
        position: relative;
     
        margin: 3px 20px 8px 3px;
        display: block !important;
    }
    .social_media {
        position: relative;
        top: -106px;
    }
    .address span {
        position: relative;
        top: -19px;
        font-size: 14px;
    }
    .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
        /* padding-right: 3px; */
        /* padding-left: 20px; */
         padding: 16px;
    }
    .navbar-light .navbar-toggler {
        color: rgb(255, 255, 255);
        border-color: rgb(255, 255, 255);
    }
    .detail_box h4 {
     
        font-size: 16px;
        
    }
    .detail_box p {
       
        font-size: 13px;
    }
    h4.tab-list a{
        font-size: 14px !important;
    }
    .media-left span{
        font-size: 12px;
    }
    .nav-tabs .nav-link {
       
        padding: 10px 15px !important;
    }
    div#home-pocket {
        color: #fff;
        padding: 20px 0px;
        height: 214px;
    }
    .foot_logo {
        width: 250px;
        position: relative;
        left: 42px;
    }
    .android span {
        position: relative;
        right: 60px;
    }
    .news-about p {
        font-size: 14px;
    }
    .ad-part {
        position: relative;
        right: 35px;
    }
    .pocket_news {
       
        height: 750px;
    }
    h4.left {
        position: relative;
        top: 0px;
        font-size: 14px;
    }
    .item_cont span {
        font-size: 12px;
    }
    .marquee-sibling h4{
        font-size: 14px;
    }
    .catTitle6 .liner::before {
       
        width: 73% !important;
       
    }
    .catTitle6 .liner::after {
      
        width: 73% !important;
       
    }
    .catTitle2 .liner::before {
       
        width: 65% !important;
       
    }
    .catTitle2 .liner::after {
        width: 65% !important;;
    }
    ul.navbar-nav.mr-auto {
        padding: 17px 0px !important;
    }
    .con-nav{
        padding: 0px !important;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
/* .media_heading h4{
    font-size: 12px !important;
} */
}


@media (min-width: 992px) and (max-width: 1199.98px) {
    /* .media_heading h4{
        font-size: 12px !important;
    } */
}


@media (min-width: 1200px) {

}